<div class="question question-radio">
  <div class="question-radio-label">
    <%= label_tag @name, label, class: "radio-label" %>
  </div>
  <div class="question-radio-buttons">
    <%= radio_button_tag name, 1, (1 == current), class: "uk-radio" %>
    <%# <%= label_tag "#{name}_5", "Strong Disagree" %1> %>
    <%= radio_button_tag name, 2, (2 == current), class: "uk-radio" %>
    <%# <%= label_tag "#{name}_4", "Disagree" %1> %>
    <%= radio_button_tag name, 3, (3 == current), class: "uk-radio" %>
    <%# <%= label_tag "#{name}_3", "Neutral" %1> %>
    <%= radio_button_tag name, 4, (4 == current), class: "uk-radio" %>
    <%# <%= label_tag "#{name}_2", "Agree" %1> %>
    <%= radio_button_tag name, 5, (5 == current), class: "uk-radio" %>
    <%# <%= label_tag "#{name}_1", "Strongly Agree" %1> %>
  </div>
</div>
