<div class="question question-radio <%= classes %>">
  <div class="question-radio-label">
    <%= label_tag @name, label, class: "radio-label" %>
  </div>
  <div class="question-radio-buttons">
    <%= label_tag "#{name}_strongly_disagree", "Strongly Disagree" %>
    <%= radio_button_tag name, "strongly_disagree", ("strongly_disagree" == current), class: "uk-radio" %>
    <%= label_tag "#{name}_disagree", "Disagree" %>
    <%= radio_button_tag name, "disagree", ("disagree" == current), class: "uk-radio" %>
    <%= label_tag "#{name}_neutral", "Neutral" %>
    <%= radio_button_tag name, "neutral", ("neutral" == current), class: "uk-radio" %>
    <%= label_tag "#{name}_agree", "Agree" %>
    <%= radio_button_tag name, "agree", ("agree" == current), class: "uk-radio" %>
    <%= label_tag "#{name}_strongly_agree", "Strongly Agree" %>
    <%= radio_button_tag name, "strongly_agree", ("strongly_agree" == current), class: "uk-radio" %>
  </div>
</div>

<style>
  .question-radio-label {
    float:left;
    width: 40%;
  }
  .question-radio-buttons {
    float:left;
    width: 60%;
  }
  .question-radio-buttons label {
    font-family: sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
</style>
