<%=
  form_for(
    @open_letter,
    url: @open_letter.persisted? ? update_open_letter_path(@open_letter) : open_letters_path
  ) do |form|
%>

  <div class="row">
    <div class="two columns">
      <%= form.label :title, "Title" %>
    </div>
    <div class="ten columns">
      <%= form.text_field :title, class: "full-width" %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <%= form.label :body, "Body" %>
    </div>
    <div class="ten columns">
      <%= form.text_area :body, class: "full-width", rows: 8 %>
    </div>
  </div>

  <div class="row">
    <div class="two columns">&nbsp;</div>
    <div class="ten columns">
      <%= form.submit %>
    </div>
  </div>

<% end %>

<script>
  $("#open_letter_body").trumbowyg({
    btns: [
      ["undo", "redo"],
      ["formatting"],
      "btnGrp-semantic",
      ["link"],
      ["insertImage"],
      "btnGrp-lists",
      ["removeformat"],
      ["fullscreen"]
    ],
    removeformatPasted: true
  })
</script>
