<%= form_for @open_letter do |form| %>
  
  <div class="row">
    <div class="two columns">
      <%= form.label :title, "Title" %>
    </div>
    <div class="ten columns">
      <%= form.text_area :title %>
    </div>
  </div>
  
  <div class="row">
    <div class="two columns">
      <%= form.label :body, "Body" %>
    </div>
    <div class="ten columns">
      <%= form.text_area :body %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <%= form.submit %>
    </div>
  </div>

<% end %>
