<%= form_tag surveys_path do %> 
  <h2>I am a...</h2>

  <div class="question">
    <%= radio_button_tag :group, :abutter %>
    <%= label_tag "group_abutter", "Abutter" %>
    <%= radio_button_tag :group, :resident %>
    <%= label_tag "group_resident", "Resident" %>
    <%= radio_button_tag :group, :other %>
    <%= label_tag "group_other", "Other" %>
  </div>

  <div class="question">
    <%= label_tag :address, "Street Address" %>
    <%= text_field_tag :address %>
    <p><small>Only required for abutters and residents. Used to prevent fraud. Individuals will NEVER be singled out. See <a href="#">how we use this data</a>.</small></p>
  </div>

  <h2>Positives</h2>
  <%= element "radio", "pro-tourism", "Tourism boost" %>
  <%= element "radio", "pro-property-values", "Increase property values" %>
  <%= element "radio", "pro-personal-use", "Personal Use" %>
  <%= element "radio", "pro-transportation", "Transportation" %>
  <%= element "radio", "pro-cleanup-land", "Cleanup land" %>
  <%= element "radio", "pro-other", "Other" %>

  <%= label_tag "top-positive", "What is your top positive?" %>
  <select></select>

  <h2>Negatives</h2>

  <%# Very Concerned %>
  <%# Little Concerned about it %>
  <%# Not concerned about it %>

  <%= element "radio", "con-property-value", "Decreased property value" %>
  <%= element "radio", "con-loss-of-land", "Loss of land" %>
  <%= element "radio", "con-privacy", "Privacy" %>
  <%= element "radio", "con-safety", "Safety and Security" %>
  <%= element "radio", "con-building-costs", "Planning and building costs" %>
  <%= element "radio", "con-maintenance-costs", "Long term maintenance costs" %>
  <%= element "radio", "con-other", "Other" %>

  <%= label_tag "top-concern", "What is your top concern?" %>
  <select></select>

  <h2>I am...</h2>

  <div class="question">
    <%= radio_button_tag :trail, :yes %>
    <%= label_tag "idea_yes", "In favor of the idea of a Rail Trail" %>
    <br/>
    <%= radio_button_tag :trail, :idea_only %>
    <%= label_tag "proposal_yes", "In favor of the idea of a Rail Trail, but not the current proposal" %>
    <br/>
    <%= radio_button_tag :trail, :no %>
    <%= label_tag "idea_no", "Not in favor of the idea of a Rail Trail" %>
    <br/>
    <%= radio_button_tag :trail, :undecided %>
    <%= label_tag "idea_undecided", "I do not have enough information to form an opinion" %>
  </div>

  <h2>What could the town do better?</h2>

  <%= submit_tag "Save", class: "uk-button uk-button-default" %>
<% end %>
