<%= form_tag submit_survey_path(@survey.slug) do %>

  <h3>About You</h3>

  <div class="question">I am a...</div>
  <div class="answers">
    <%= radio_button_tag "user[group]", "abutter", current_user.group == "abutter" %>
    <%= label_tag "user_group_abutter", "Swampscott resident and rail trail property abutter" %>
    <br/>
    <%= radio_button_tag "user[group]", "resident", current_user.group == "resident" %>
    <%= label_tag "user_group_resident", "Swampscott resident" %>
    <br/>
    <%= radio_button_tag "user[group]", "other", current_user.group == "other" %>
    <%= label_tag "user_group_other", "Other" %>
  </div>

  <h3>Benefits</h3>

  <div class="question">I value the potential...</div>
  <%= element "radio", "answers[pro_tourism]", "Increase in tourism", get_answer("pro_tourism") %>
  <%= element "radio", "answers[pro_property_values]", "Increase in town-wide property values", get_answer("pro_property_values") %>
  <%= element "radio", "answers[pro_personal_use]", "Recreational space", get_answer("pro_personal_use") %>
  <%= element "radio", "answers[pro_transportation]", "Transportation path", get_answer("pro_transportation") %>
  <%= element "radio", "answers[pro_cleanup_land]", "Beautification of land", get_answer("pro_cleanup_land") %>

  <div class="row">
    <div class="question five columns">Of these I most value the potential...</div>
    <div class="answers seven columns">
      <%= select_tag "answers[pro_top]", options_for_select([
        ["", ""],
        ["Increase in tourism", "pro_tourism"],
        ["Increase in property values", "pro_property_values"],
        ["Recreational space", "pro_personal_use"],
        ["Transportation path", "pro_transportation"],
        ["Beautification of land", "pro_cleanup_land"]
      ], get_answer("pro_top")) %>
    </div>
  </div>

  <h3>Concerns</h3>

  <div class="question">I am concerned about potential... </div>
  <%= element "radio", "answers[con_property_value]", "Decrease in my property value", get_answer("con_property_value") %>
  <%= element "radio", "answers[con_loss_of_land]", "Loss of land", get_answer("con_loss_of_land") %>
  <%= element "radio", "answers[con_privacy]", "Privacy", get_answer("con_privacy") %>
  <%= element "radio", "answers[con_safety]", "Safety and Security", get_answer("con_safety") %>
  <%= element "radio", "answers[con_building_costs]", "Initial planning and building costs", get_answer("con_building_costs") %>
  <%= element "radio", "answers[con_maintenance_costs]", "Long term maintenance costs", get_answer("con_maintenance_costs") %>

  <div class="row">
    <div class="question five columns">Of these I am most concerned about potential...</div>
    <div class="answers seven columns">
      <%= select_tag "answers[con_top]", options_for_select([
        ["", ""],
        ["Decrease in property values", "con_property_value"],
        ["Loss of land", "con_loss_of_land"],
        ["Privacy", "con_privacy"],
        ["Safety and Security", "con_safety"],
        ["Initial planning and building costs", "con_building_costs"],
        ["Long term maintenance costs", "con_maintenance_costs"],
      ], get_answer("con_top")) %>
    </div>
  </div>

  <h3>Support</h3>

  <div class="question">I am... </div>
  <div class="answers">
    <%= radio_button_tag "answers[support]", "yes", get_answer("support") == "yes" %>
    <%= label_tag "answers_support_yes", "In favor of the idea of a Rail Trail" %>
    <br/>
    <%= radio_button_tag "answers[support]", "idea_only", get_answer("support") == "idea_only" %>
    <%= label_tag "answers_support_idea_only", "In favor of the idea of a Rail Trail, but not the current proposal" %>
    <br/>
    <%= radio_button_tag "answers[support]", "no", get_answer("support") == "no" %>
    <%= label_tag "answers_support_no", "Not in favor of the idea of a Rail Trail" %>
    <br/>
    <%= radio_button_tag "answers[support]", "undecided", get_answer("support") == "undecided" %>
    <%= label_tag "answers_support_undecided", "I do not have enough information to form an opinion" %>
  </div>

  <h3>Town Meeting</h3>

  <p>On May 15, 2017 the Town of Swampscott will be voting to approve $850,000 of town funds for:</p>

  <ol>
    <li>Phase II - Fund Engineering plan</li>
    <li>Phase III - Acquiring land</li>
  </ol>

  <p>For complete details see <a target="_blank" href="http://www.town.swampscott.ma.us/Public_Documents/SwampscottMA_Calendar/S058A43EE-05A4A9C3?formid=161">Article 18 of the Town Meeting Warrant</a>.</p>

  <div class="question">I believe the Town of Swampscott should...</div>

  <div class="answers">
    <%= radio_button_tag "answers[town_vote]", "approve", get_answer("town_vote") == "approve" %>
    <%= label_tag "answers_town_vote_approve", "Approve both Phase II and Phase III" %>
    <br/>
    <%= radio_button_tag "answers[town_vote]", "first_only", get_answer("town_vote") == "first_only" %>
    <%= label_tag "answers_town_vote_first_only", "Amend the article and only approve Phase II" %>
    <br/>
    <%= radio_button_tag "answers[town_vote]", "delay", get_answer("town_vote") == "delay" %>
    <%= label_tag "answers_town_vote_delay", "Delay voting on either phase" %>
    <br/>
    <%= radio_button_tag "answers[town_vote]", "against", get_answer("town_vote") == "against" %>
    <%= label_tag "answers_town_vote_against", "Vote against both phases" %>
    <br/>
    <%= radio_button_tag "answers[town_vote]", "undecided", get_answer("town_vote") == "undecided" %>
    <%= label_tag "answers_town_vote_undecided", "No opinion" %>
  </div>

  <h3>Next Steps</h3>

  <div class="question">What actions can the town take to address concerns and increase support for the project?</div>

  <%= text_area_tag "answers[town_action]", get_answer("town_action"), { class: "u-full-width", rows: 5 } %>

  <h3>Survey Feedback</h3>

  <div class="question">How can we improve the survey in the future? What would you like to see asked next?</div>

  <%= text_area_tag "answers[survey_feedback]", get_answer("survey_feedback"), { class: "u-full-width", rows: 4 } %>

  <%= submit_tag "Save", class: "button-primary" %>

<% end %>
