<%= form_tag survey_path(@survey.slug) do %> 
  <h2>I am a...</h2>

  <div class="question">
    <%= radio_button_tag "user[group]", :abutter %>
    <%= label_tag "user_group_abutter", "Abutter" %>
    <%= radio_button_tag "user[group]", :resident %>
    <%= label_tag "user_group_resident", "Resident" %>
    <%= radio_button_tag "user[group]", :other %>
    <%= label_tag "user_group_other", "Other" %>
  </div>

  <div class="question">
    <%= label_tag "user[street_address]", "Street Address" %>
    <%= text_field_tag "user[street_address]" %>
    <p><small>Only required for abutters and residents. Used to prevent fraud. Individuals will NEVER be singled out. See <a href="#">how we use this data</a>.</small></p>
  </div>

  <h2>Benefits</h2>

  <%= element "radio", "answers[pro_tourism]", "Tourism boost" %>
  <%= element "radio", "answers[pro_property_values]", "Increase property values" %>
  <%= element "radio", "answers[pro_personal_use]", "Personal Use" %>
  <%= element "radio", "answers[pro_transportation]", "Transportation" %>
  <%= element "radio", "answers[pro_cleanup_land]", "Cleanup land" %>
  <%= element "radio", "answers[pro_other]", "Other" %>

  <%= label_tag "answers[pro_top]", "What is your top positive?" %>
  <select></select>

  <h2>Concerns</h2>

  <%# Very Concerned %>
  <%# Little Concerned about it %>
  <%# Not concerned about it %>

  <%= element "radio", "answers[con_property_value]", "Decreased property value" %>
  <%= element "radio", "answers[con_loss_of_land]", "Loss of land" %>
  <%= element "radio", "answers[con_privacy]", "Privacy" %>
  <%= element "radio", "answers[con_safety]", "Safety and Security" %>
  <%= element "radio", "answers[con_building_costs]", "Planning and building costs" %>
  <%= element "radio", "answers[con_maintenance_costs]", "Long term maintenance costs" %>
  <%= element "radio", "answers[con_other]", "Other" %>

  <%= label_tag "answers[con_top]", "What is your top concern?" %>
  <select></select>

  <h2>I am...</h2>

  <div class="question">
    <%= radio_button_tag "answers[support]", :yes %>
    <%= label_tag "answers_support_yes", "In favor of the idea of a Rail Trail" %>
    <br/>
    <%= radio_button_tag "answers[support]", :idea_only %>
    <%= label_tag "answers_support_idea_only", "In favor of the idea of a Rail Trail, but not the current proposal" %>
    <br/>
    <%= radio_button_tag "answers[support]", :no %>
    <%= label_tag "answers_support_no", "Not in favor of the idea of a Rail Trail" %>
    <br/>
    <%= radio_button_tag "answers[support]", :undecided %>
    <%= label_tag "answers_support_undecided", "I do not have enough information to form an opinion" %>
  </div>

  <h2>Town Vote</h2>

  <p>On May 15, 2017 the Swampscott Board of Selectmen will be voting to approve $850,000 of town funds for:</p>

  <ol>
    <li>Phase II - Fund Engineering plan</li>
    <li>Phase III - Acquiring land</li>
  </ol>

  <p>For complete details see <a target="_blank" href="http://www.town.swampscott.ma.us/Public_Documents/SwampscottMA_Calendar/S058A43EE-05A4A9C3?formid=161">Article 18 of the Town Meeting Warrant</a>.</p>

  <p>I believe the Swampscott Board of Selectmen should...</p>

  <div class="question">
    <%= radio_button_tag "answers[selectment_vote]", :approve %>
    <%= label_tag "answers_selectment_vote_approve", "Approve both Phase II and Phase III" %>
    <br/>
    <%= radio_button_tag "answers[selectment_vote]", :first_only %>
    <%= label_tag "answers_selectment_vote_first_only", "Amend the article and only approve Phase II" %>
    <br/>
    <%= radio_button_tag "answers[selectment_vote]", :delay %>
    <%= label_tag "answers_selectment_vote_delay", "Delay voting on either phases" %>
    <br/>
    <%= radio_button_tag "answers[selectment_vote]", :against %>
    <%= label_tag "answers_selectment_vote_against", "Vote against both phases" %>
    <br/>
    <%= radio_button_tag "answers[selectment_vote]", :undecided %>
    <%= label_tag "answers_selectment_vote_undecided", "No opinion" %>
  </div>

  <h2>Next Steps</h2>

  <p>What actions can the town take to address concerns and increase support for the project?</p>

  <%= text_area_tag "answers[town_action]", nil, rows: 6 %>

  <%= submit_tag "Save", class: "uk-button uk-button-default" %>
<% end %>
